@using Madhuvan.Businesslayer
@using Madhuvan.Resourcelayer

<!-- BEGIN Navbar -->
<div id="navbar" class="navbar">
    <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
        <span class="fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="#">
        <small>
            <i class="fa fa-truck"></i>
         
        </small>
    </a>
    <!-- BEGIN Navbar Buttons -->
    <ul class="nav flaty-nav pull-right">
        <!-- BEGIN Button User -->
        <li class="user-profile">
            <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                <span id="user_info">Welcome User</span>
                <i class="fa fa-caret-down"></i>
            </a>

            <!-- BEGIN User Dropdown -->
            <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                <li class="divider"></li>
                <li>
                    <a id="changePwd"><i class="fa fa-off"></i>Change password</a>
                </li>
                <li>
                    <a id="open"><i class="fa fa-off"></i>Profile</a>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "Login")"><i class="fa fa-off"></i>Logout</a>
                </li>
            </ul>
            <!-- BEGIN User Dropdown -->
        </li>
        <!-- END Button User -->
    </ul>
  

    @*@(Html.Kendo().Window()
    .Name("windowViewProfile")
    .Title("User Profile")
    .Visible(false)
    .Draggable(true)
    .Modal(true)
    .Width(600)
    .LoadContentFrom("ViewProfile",Madhuvan.Commonlayer.ControllerName.Login)
    )*@
        
      
    
    <!-- END Navbar Buttons -->
</div>
<!-- END Navbar -->



<script>
    $(document).ready(function () {
        var myWindow = $("#windowViewProfile");
        var changePwdWindow = $("#changePwdWindow");

        $("#open").click(function (e) {
            myWindow.data("kendoWindow").center();
            myWindow.data("kendoWindow").open();
        });

        $('#changePwd').click(function () {
            changePwdWindow.data("kendoWindow").center();
            changePwdWindow.data("kendoWindow").open();
        });
    });



    function OnBranchSelect(e) {

        var dataItem = this.dataItem(e.item.index());

        if (dataItem != null) {
            branchId = dataItem.BranchId;
        }

        $.ajax({

            url: encodeURI('@Url.Action("SetBranch", "Login")'),
            data: "branchId=" + branchId,
            type: "GET",
            cache: false,
            async: false,
            dataType: 'json',
            error: function (jqXHR, exception) {
            },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data) {
                    if (data.result == 1) {
                        window.location.reload();

                    }
                }
            }
        });
    }

    function OnLocationChanged(e) {

        var dataItem = this.dataItem(e.item.index());

        if (dataItem != null) {
            locationId = dataItem.LocationId;
        }

        $.ajax({

            url: encodeURI('@Url.Action("SetLocation", "Login")'),
            data: "locationId=" + locationId,
            type: "GET",
            cache: false,
            async: false,
            dataType: 'json',
            error: function (jqXHR, exception) {
            },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data) {
                    window.location.reload();

                }
            }
        });
    }

    function getbranchId()
    {
    
    }

</script>



